@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;1,100;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.landing {
  position: relative;
  height: 100vh;
  width: 100%;
}
img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  margin: auto;
  width: 100%;
  padding: 25px;
  z-index: 100;
}
h1,
ul {
  flex: 1;
  color: white;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
h1 {
  font-size: 2.5rem;
}
span {
  color: rgb(255, 175, 0);
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.desc {
  position: absolute;
  height: fit-content;
  width: fit-content;
  color: white;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  line-height: 60px;
}
.line1 {
  font-size: 2rem;
}
.line2 {
  font-size: 5rem;
  font-weight: bold;
}
.line3 {
  font-size: 2.5rem;
}
.btn {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 175, 0);
  font-weight: bold;
}
a {
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: rgba(255, 174, 0, 0.815);
}
.typing::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 1px;
  background-color: rgba(255, 174, 0, 0.658);
  animation: blink 0.5s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typing {
  position: relative;
  font-weight: bold;
  font-style: italic;
}
/* ------------------------------------------about section -------------------------------*/
/* navbar animation */
.about-main {
  height: 90vh;
  width: 100%;
}
.nav-bar-change {
  background-color: rgb(255, 175, 0);
}
.logo-change {
  color: black;
}
/* about content */
.about-title {
  width: 100%;
  font-size: 65px;
  text-align: center;
  padding-top: 45px;
  transition: 0.7s all ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}
.sub-title {
  position: relative;
  width: 100%;
  height: 10px;
  transform: translateY(50px);
  transition: 1s all ease-in-out 0.3s;
  opacity: 0;
}
.line {
  width: 20%;
  height: 0.2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(255, 175, 0);
}
.about-title-appear,
.sub-title-appear {
  opacity: 1;
  transform: translateY(0px);
}
/* about content */
.about-main-content {
  display: flex;
  width: 100%;
  align-items: center;
}
.mydp {
  height: 450px;
  width: 350px;
  object-fit: cover;
  transform: scale(0.8);
  opacity: 0;
  transition: 1.3s all ease-in-out 1s;
}
.img-content {
  padding: auto;
  width: 40%;
  display: flex;
  justify-content: center;
}
.text-content {
  width: 60%;
  height: fit-content;
  transform: translateX(50px);
  opacity: 0;
  transition: 1.3s all ease-in-out 1s;
}
h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
p {
  line-height: 21px;
  padding-bottom: 30px;
  font-size: 20px;
  width: 80%;
}
.cv-bttn a {
  background-color: rgb(255, 175, 0);
  padding: 15px;
  font-size: 20px;
}
.mydp-appear {
  transform: scale(1);
  opacity: 1;
}
.text-content-appear {
  opacity: 1;
  transform: translateX(0px);
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.my-service-main {
  height: 90vh;
  background-color: rgb(41, 41, 41);
}
.ms-title {
  width: 100%;
  font-size: 65px;
  text-align: center;
  padding-top: 45px;
  color: white;
  transition: 0.7s all ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}
.ms-title-appear {
  opacity: 1;
  transform: translateX(0px);
}

.ms-sub-title {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: rgb(41, 41, 41);
  transform: translateY(50px);
  transition: 1s all ease-in-out 0.3s;
  opacity: 0;
}
.ms-sub-title-appear {
  opacity: 1;
  transform: translateX(0px);
}
.ms-text {
  background-color: rgb(41, 41, 41);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(255, 175, 0);
}
.ms-line {
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 0.2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 8px;
  padding-right: 8px;
}
/* ms-content */
.ms-content {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item1,
.item2,
.item3 {
  height: 50vh;
  width: 25%;
  background-color: rgb(68, 68, 68);
  position: relative;
  opacity: 0;
  transform: scale(0.7);
}
.item1 {
  transition: 1.3s all ease-in-out 1s;
}
.item2 {
  transition: 1.3s all ease-in-out 2s;
}
.item3 {
  transition: 1.3s all ease-in-out 3s;
}
.icon-div {
  font-size: 75px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  padding-bottom: 100px;
  color: rgb(255, 175, 0);
  font-weight: bolder;
}
.item-txt {
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  text-align: center;
  padding: 45px;
  font-size: 17px;
  line-height: 22px;
  color: white;
}
.item1-appear,
.item2-appear,
.item3-appear {
  opacity: 1;
  transform: scale(1);
}
/* ---------------------------------------my skills section */
.my-skills-main {
  height: 90vh;
}
.sk-title {
  width: 100%;
  font-size: 65px;
  text-align: center;
  padding-top: 45px;
  transition: 0.7s all ease-in-out;
  transform: translateY(50px);
  color: black;
  opacity: 0;
}
.sk-title-appear {
  transform: translateY(0px);
  opacity: 1;
}
.sk-sub-title {
  position: relative;
  width: 100%;
  height: 10px;
  transform: translateY(50px);
  transition: 1s all ease-in-out 0.3s;
  color: rgb(255, 255, 255);
  opacity: 0;
}
.sk-sub-title-appear {
  transform: translateY(0px);
  opacity: 1;
}
.sk-text {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(255, 175, 0);
}
.sk-line {
  background-color: rgb(0, 0, 0);
  width: 20%;
  height: 0.2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 8px;
  padding-right: 8px;
}
.sk-content {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skills-text {
  height: 80%;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  transform: scale(0.8);
  transition: 1.3s all ease-in-out 1s;
}
.skills-text-appear {
  opacity: 1;
  transform: scale(1);
}
.vertical-line {
  width: 1px;
  background-color: black;
  height: 80%;
}
.skills-bars {
  height: 80%;
  width: 50%;
}
.h3-p-div {
  text-align: left;
  width: 65%;
  font-size: 17px;
  line-height: 25px;
}
/* -------------------skills bars */
.main {
  height: 60px;
  width: 100%;
  position: relative;
  margin-left: 25px;
}
.skills-bars {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.skill-container {
  width: 70%;
}
.name {
  position: absolute;
}
.value {
  position: absolute;
  right: 0px;
}

.full-bar {
  height: 8px;
  width: 100%;
  background-color: rgb(219, 219, 219);
  position: absolute;
  top: 50%;
  border-radius: 5px;
}
.value-bar {
  height: 7px;
  background-color: rgb(255, 175, 0);
  top: 50%;
  position: absolute;
  border-radius: 5px;
  animation-delay: 3s;
}
.Html {
  width: 60%;
}
.css {
  width: 85%;
}
.js {
  width: 45%;
}
.sql {
  width: 90%;
}

@keyframes value_bar_html {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes value_bar_css {
  0% {
    width: 0px;
  }
  100% {
    width: 85%;
  }
}
@keyframes value_bar_js {
  0% {
    width: 0px;
  }
  100% {
    width: 45%;
  }
}
@keyframes value_bar_sql {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
